/*:::: SITE COLORS ::::*/

$black: #232527;
$white: #ffffff;
$offwhite: #f7f7f7;
$altwhite: #F5F5F6;
$gray: #9DA0A4;
$pink: #F15755;
$yellow: #FCC71F;

/* BACKGROUND GRADIENT MIXINS */

.link-btn-bg {

}

.link-btn-hvr {

}